<div class="main-page">
  <nav class="navbar navbar-dark bg-warning justify-content-between">
    <a id="logo" class="navbar-brand" routerLink="/admin">Admin</a>
    <div class="form-inline">
      <button (click)="logOut()">
        <img id="logout__image" src="assets/images/logout.svg" alt="logout">
      </button>
    </div>
  </nav>

  <div *ngIf="loading" class="loading-bar" role="status"></div>

  <div *ngIf="!loading">
  <table class="table">
    <thead class="thead-color">
    <tr class="raw">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Empty</th>
      <th scope="col">Status</th>
      <th scope="col">Log</th>
    </tr>
    </thead>

    <tbody class="thead-dark-child" *ngFor="let item of feeder; let r = index ">
    <tr class="second-raw">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <!--    <td>{{feeder.user_id.name}}</td>-->
      <td>{{item.type}}</td>
      <td>{{item.is_Empty}}</td>
      <td>{{item.fullness}}%</td>
      <td><button mdbBtn mdbWavesEffect class="btn btn-primary left-column__item" (click)="logs(item.id, item.name)">Logs</button></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
