<table class="table">
  <thead class="thead-color">
  <tr class="raw">
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Type</th>
    <th scope="col">Empty</th>
    <th scope="col">Status</th>
    <th scope="col">Log</th>
  </tr>
  </thead>

  <tbody class="thead-dark-child">
  <tr class="second-raw">
    <td>{{feeder.id}}</td>
    <td>{{feeder.user_id}}</td>
<!--    <td>{{feeder.user_id.name}}</td>-->
    <td>{{feeder.type}}</td>
    <td>{{feeder.empty}}</td>
    <td>{{feeder.status}}%</td>
    <td>{{feeder.log_id}}</td>
  </tr>
  </tbody>
</table>

