.main-page{
  height: 100%;
  background-image: url(../../../../assets/images/background-3.png);
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-user-select: none;
  /* user-select -- это нестандартное свойство */
  -moz-user-select: none;
  /* поэтому нужны префиксы */
  -ms-user-select: none;
}

.table{
  margin: 0;
  box-shadow: #757575 4px 2px 2px;
  border-top: solid 2px black;
}

.thead-color{
  background-color: #33b5e5;
  text-align: center;
  margin: 0;
}

.raw th{
  /*border: solid 2px black;*/
  margin: 0;
}

.second-raw td{
  border-bottom: solid 1px black;
  font-weight: bold;
  /*color: #474747;*/
  color: black;
}

.thead-dark-child{
  margin: 0;
  background-color: whitesmoke;
  text-align: center;
  opacity: 0.95;
}

.table thead th {
  border-bottom: 2px solid black;
}



.form-inline button{
  background-color: inherit;
  border: none;
  width: 100px;
}

.form-inline button:focus{
  outline: none;
}

#logout__image{
  height: 25px;
  width: 25px;
  margin-right: -20px;
}

.form-inline button:active{
  transform: scale(1.2);
}

#logo{
  font-weight: bold;
  color: black;
  margin-left: 20px;
}

.loading-bar {
  margin: 0;
  height: 1.5%;
  width: 300%;
  background: linear-gradient(90deg, #f12711, #f5af19, #799F0C, #5614B0, #f12711, #f5af19, #799F0C, #5614B0);
  animation: load 1.75s ease infinite normal;
}

@keyframes load {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0%);
  }
}
