<table class="table">
  <thead class="thead-color">
  <tr class="raw">
    <th scope="col">#</th>
    <th scope="col">Role</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Manage</th>
  </tr>
  </thead>

  <tbody class="thead-dark-child">
  <tr class="second-raw">
    <td>{{user.id}}</td>
    <td>{{user.role}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>
<!--      <img src="" alt="">-->
      1234
    </td>
  </tr>
  </tbody>
</table>
