<div class="main-page">

  <nav class="navbar navbar-dark bg-warning justify-content-between">
    <a id="logo" class="navbar-brand" routerLink="/admin">Admin</a>
    <div class="form-inline">
      <button>
        <img id="logout__image" src="assets/images/logout.svg" alt="logout">
      </button>
    </div>
  </nav>

  <table class="table">
    <thead class="thead-color">
    <tr class="raw">
      <th scope="col">#</th>
      <th scope="col">Role</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Manage</th>
    </tr>
    </thead>

    <tbody class="thead-dark-child">
    <tr class="second-raw">
      <td>{{user.id}}</td>
      <td>{{user.role}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <span style="color: #f12711; cursor: pointer" (click)="openDialog()">delete</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
