<div class="main-page">

  <nav class="navbar navbar-dark info-color justify-content-between" >
    <a id="logo" class="navbar-brand">User</a>
    <div class="form-inline">
      <button routerLink="login">
        <img id="logout__image" src="assets/images/logout.svg" alt="logout">
      </button>
    </div>
  </nav>

  <div *ngIf="loading" class="loading-bar" role="status"></div>

  <div class="masonry">
    <div class="item relative waves-light" *ngFor="let t of arr" (click)="openDialog(t)" mdbBtn mdbWavesEffect>
      <div class="item-content">
        {{t}}
      </div>
    </div>
    <div id="add-icon-box" mdbBtn class="item relative waves-light" mdbWavesEffect (click)="openDialog('request')">
      <div class="item-content">
<!--        <span>Make new feeder</span>-->
        <img id="add-icon" src="assets/images/add-button.svg" alt="add">
      </div>
    </div>
  </div>
</div>
