.table{
  margin: 0;
}

.thead-color{
  background-color: #33b5e5;
  text-align: center;
  margin: 0;
}

.raw th{
  /*border: solid 1px black;*/
  border-top: solid 2px black;
  /*border-right: none;*/
  /*border-left: none;*/
}

.second-raw td{
  border-bottom: solid 1px;
  font-weight: bold;
  color: #474747;
}

.thead-dark-child{
  margin: 0;
  background-color: whitesmoke;
  text-align: center;
}

.table thead th {
  border-bottom: 2px solid black;
}


.form-inline button{
  background-color: inherit;
  border: none;
  width: 100px;
}

.form-inline button:focus{
  outline: none;
}

#logout__image{
  height: 25px;
  width: 25px;
  margin-right: -20px;
}

.form-inline button:active{
  transform: scale(1.2);
}

#logo{
  font-weight: bold;
  color: black;
  margin-left: 20px;
}

.table{
  display: flex;
  box-shadow: #757575 4px 2px 2px;
}

.spans{
  display: flex;
  justify-content: space-around;
}

.spans {
  text-align: center;
  background-color: #33b5e5;
  padding: 0;
  border-top: solid 2px black;
}

.table table{
  width: 100%;
  margin: 0;
}

.main-page{
  min-width: 300px;

  -webkit-user-select: none;
  /* user-select -- это нестандартное свойство */
  -moz-user-select: none;
  /* поэтому нужны префиксы */
  -ms-user-select: none;
}

h5{
  height: 50px;
  padding: 15px;
}

.feeder-table{
  border-left: solid 1px black;
}

.user-table{
  border-right: solid 1px black;
}

.actions{
  display: flex;
  justify-content: space-around;
}

