.main-page{
  height: 100%;
  width: 100%;
  background-image: url(../../../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

mdb-card{
  width: 80ch;
  /*margin: 22ch auto;*/
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
