<div class="dialog">
  <div *ngIf="!is_exist">
    <label for="type">Select feeder type</label>
    <br>
    <select name="type" id="type">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div *ngIf="is_exist" class="feeder-exist">

    <div class="left-column">
        <h2 class="left-column__item">State {{feeder.fullness}} %</h2>
        <h2 class="left-column__item">{{empty}}</h2>
        <button mdbBtn mdbWavesEffect class="btn btn-primary left-column__item">Logs</button>
    </div>

    <div class="center-column">
      <ul>
        <li *ngFor="let tag of feeder.tags">{{tag.tag}}</li>
      </ul>
    </div>

    <div class="right-column">
      <h2>Расписание кормления</h2>
      <div class="time-picker">
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="mat-raised-button btn btn-info close-button" (click)="fill()">Fill the feeder</button>
    <button class="mat-raised-button btn btn-info close-button" *ngIf="feeder.fullness >= 20" (click)="feed()">Feed the cat</button>
    <button class="mat-raised-button btn btn-danger close-button" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
