.dialog{
  border-radius: 20px;
  background-color: whitesmoke;
  height: 700px;
  width: 1100px;
  opacity: 0.95;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  -webkit-user-select: none;
  /* user-select -- это нестандартное свойство */
  -moz-user-select: none;
  /* поэтому нужны префиксы */
  -ms-user-select: none;
}

.mat-dialog-actions{
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
}

.mat-dialog-actions button{
  width: 30%;
}

*, *::before, *::after {
  box-sizing: initial;
}

.feeder-exist{
  margin-right: 25px;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: space-around;
  overflow: hidden;
}

.right-column{
  text-align: center;
  overflow: hidden;
  height: 450px;
  font-size: 20px;
  margin-right: -30px;
  width: 240px;
  background: rgba(246, 125, 39, 0.6);
  border-radius: 10px;
}

.center-column{
  overflow-y: scroll;
  height: 450px;
  width: 240px;
  font-size: 20px;
  background: rgba(160, 246, 39, 0.6);
  border-radius: 10px;
}

.left-column{
  margin: auto 0;
  height: 450px;
  width: 240px;
  background: rgba(39, 232, 246, 0.5);
  border-radius: 10px;
}

.mat-raised-button{
  width: 70%!important;
}

mat-dialog-actions{
  margin-top: 50px;
}

.time-picker{
  margin: 0 25px;
}

.left-column__item{
  margin-top: 10px;
}

#materialRegisterFormName{
  width: 50%;
  margin: 0 auto;
}

.alert-danger{
  width: 50%;
  margin: 0 auto;
}

.delete-button{
  width: 30px!important;
  height: 30px!important;
  border-radius: 3px;
  padding: 3px;
  margin-right: 10px;
}

.tags-list-item{
  margin: 3px;
  display: flex;
  justify-content: space-between;
}
