<div class="dialog">
  <div *ngIf="!is_exist">

    <form [formGroup]="form" class="new-feeder-form">
      <label for="type">Выберите тип</label>
      <select name="type" id="type" formControlName="type">
        <option value="dispenser">Дозаторный</option>
        <option value="sensor">Весовой</option>
      </select>

      <br>

      <label for="materialRegisterFormName">Название</label>
      <input type="text" id="materialRegisterFormName" class="form-control" mdbInput formControlName="name">
      <div class="alert alert-danger mt-3" *ngIf="form.controls['name'].invalid && form.controls['name'].dirty">
        Введите нормальное название
      </div>
    </form>

  </div>

  <div *ngIf="is_exist" class="feeder-exist">
    <div class="left-column">
      <h2 class="left-column__item" *ngIf="feeder.type === 'sensor'">State {{feeder.fullness}} %</h2>
      <h2 class="left-column__item">{{empty}}</h2>
      <a download="feeder{{feeder.name}}.txt" style='cursor: pointer;' class="nav-link" target="_blank" (click)="logs(feeder.id)">
        <button mdbBtn mdbWavesEffect class="btn btn-primary left-column__item">Logs</button>
      </a>
    </div>

    <div class="center-column">
      <h3>Tags</h3>
      <ul class="tags-list">
        <li class="tags-list-item" *ngFor="let tag of feeder.tags">{{tag.tag_Data}}
          <button class="delete-button btn-danger" (click)="deleteTag(tag.id)">x</button>
        </li>
        <div style="display: flex; margin-top: 10px">
          <form [formGroup]="tag" class="new-feeder-form">
            <input style="width: 110px" type="text" placeholder="new tag" formControlName="tag">
            <button (click)="newTag()">Ok</button>
          </form>
        </div>
      </ul>
    </div>

    <div class="right-column">
      <h2>Расписание кормления</h2>
      <ul class="tags-list">
        <li *ngFor="let time of feeder.schedules">{{time.time}}
          <button class="delete-button btn-danger" (click)="deleteSchedule(time.id)">x</button>
        </li>
      </ul>
      <button class="mat-raised-button btn btn-info" style="width: 100px!important;" (click)="newTime = true">+</button>
      <div class="time-picker" style="display: flex" *ngIf="newTime">
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
        <button style="width: 41px; height: 36px; margin: auto 0 auto 10px" (click)="newSchedule()">Ok</button>
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <button class="mat-raised-button btn btn-info" *ngIf="is_exist" (click)="fill()">Fill the feeder</button>
    <button class="mat-raised-button btn btn-info" *ngIf="!is_exist" (click)="save()">Save</button>
    <button class="mat-raised-button btn btn-info" *ngIf="feeder.fullness >= 20" (click)="feed()">Feed the cat</button>
    <button class="mat-raised-button btn btn-danger close-button" (click)="close()">Close</button>
  </mat-dialog-actions>
</div>
